*{
    padding:0;
    margin: 0;
    list-style: none;
    
    font-size: 2rem;
    box-sizing: border-box;
    border: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    

}
.liwrap{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0;
    width: 80%;
}
p{
    text-align: center;
    background-color: rgba(211, 169, 193, 0.74);
}
a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
.lead.font-weight-bold{
    font-weight: bold;
}
button{
    border: none;
    background-color: rgb(75, 75, 75,0);
}

hr { 
    display: block;
    
    
    
    border-style: inset;
    border-width: 3px;
    
    margin-bottom: 10px;
}



body{
    overflow-x: hidden;
    
}
.break{
    height: 50px;
    width: 100vw;
    
}
.classcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-rows: 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.classcontainer p{
    background-color: blanchedalmond;
    width: auto;
    height: 200px;
    display: grid;
    
    align-items: center;
    padding: 10px;
   
   
}
.highschool{
    color: black;
}
.GPA{
    color: white;
    font-weight: bold;
    
    
}
#setting{
  
    background: radial-gradient(rgb(212, 183, 158), rgb(9, 13, 20));
    width:90px;
    height:90px;
    text-align: center;
    position:fixed;
    left:85%;
    top: 80%;
    padding: 5px;
    text-align: left;
    border-radius: 50%;
    box-shadow: -1px 0px 40px 0px rgba(95, 95, 95, 0.57);
    z-index: 1000;
    
}
#projectlogo{
    text-align: center;
    font-size: 5rem;
}
#modalbackgrond{
    overflow: hidden;
    height: 1000%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top:0;
    opacity: 0.8;
    display:none;
    position: fixed;
    
    
}
.modalcontainer{
    background-color: rgb(255, 248, 228);
    position: fixed;
   
    top:5%;
    left:calc(25%);
    height: 90%;
    width:50%;
    overflow-y: scroll;
    display: none;
    opacity: 0.5;
}
.active{
    display: block;
}
.smaller{
    transform: scale(0.9);
    transition: transform , 0.5s ease-in-out;
    transition: opacity , 0.5s ease-in-out;
    opacity: 1;

}
.changeopacity{
    opacity: 1;
    transition: opacity, 1s , ease-in-out;
}
.modalcontent{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% auto;

}
.modalexplanation{
    text-align: left;
    padding: 4rem;
}
.modalheader{
    font-size: larger;
}
.modaltextcontent{
    font-size: smaller;

}
.imgcontainermodal{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    
    padding: 0;
    
    
}
.imgcontainermodal img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.closebuttmodal{
    position: absolute;
    top:0;
    right: 0;
    width: 80px;
    height:80px;
   background-image: url(./delete.png);
   background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
#setting:hover{
    transform: scale(1.5);
    transition: 250ms ease-in-out,  
                transform 150ms ease;
                transform: scale(1.4) ;
                box-shadow: -1px 0px 40px 0px rgba(34, 34, 34, 0.57);
                

                cursor: pointer;

               
}
#setting:active{
    transform: scale(0.8);
}



@media only screen and (max-width: 420px) {
    #setting {
        background: radial-gradient(rgb(68, 68, 63), white);
        width:50px;
        height:50px;
        text-align: center;
        position:fixed;
        left:75%;
        top: 85%;
        padding: 5px;
        text-align: left;
        border-radius: 50%;
        
        z-index: 1000;
    }
  }
.settinginner{
    position: absolute;
    left:25%;
    top:20%;
    
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(rgb(236, 255, 62), rgb(255, 248, 228));
    
}
.settinginner:hover{

    background:  radial-gradient(rgb(231, 255, 122), rgb(255, 248, 228)); ;


}

.bulbhandle{
    position: absolute;
    width: 25%;
    height:30%;
    left: 37%;
    top: 50%;
    border-radius: 20%;
    background-color: rgb(255, 231, 231);
    background: linear-gradient(80% white ,20% grey);
}
.breakpage{
    
    background-image: url(./threedot.png);
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    
    

}

:root{
    /*colorschemes*/
    --primarycolor: rgb(255, 223, 211);
    --secondarycolor: coral;
    --tertiaarycolor: coral;
    --skin :rgb(255, 223, 185);
    font-size: 100%;
}
body{
    height: 100vh;
    max-width: 100vw;
}

header{
    
    background-color: rgba(119, 164, 185, 0.63);
    display: grid;
    align-items: flex-end;
    
    width: 100vw;
    

    height: 10%;
}
.headercontainer{
  
   display: grid;
   grid-template-columns: 30% 60%;
   margin: 0 auto;
   
   width: 70%;
   height: 100%;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
header ul li{
    text-align: center;
    
}
h1{
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    background-color: rgba(255, 194, 242, 0.582);;
    
    
}
.logocontainer{
    width:20%;
    height: 100%;
    background-image: url("./mighty-coder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#listcontainer {
    display: grid;
    align-items: flex-end;

}


#mainillustration{
    height: 80vh;
    width: 100%;
    
    
}
.maincanvas{
    background-image: url("./splah1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:80%;
    height: 100%;
    margin: 0 auto;

}



#name{
    height:auto;

    width: 100%;
   
}
.namewrapper{
    height: 300px;
    
}
.namepic{
    width:100%;
    height: 100%;
    
    background-image: url(./mighty-coder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
main{
    height: auto;
    width: 100vw;;
    margin: 0 auto;
    
}
#about{
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(106, 175, 158, 0.808);

    height: auto;
    
    
  
}
#intro{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.intro{
    text-align: center;
    display: block;
    
    
    width: auto;
    
}
.intro  li{
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: cornsilk;
    list-style: outside;
}
.acco{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    text-align: center;
}
.acco li{
    text-align: center;
    background-color: rgb(255, 214, 246);
}
#language{
    width: auto;
}
    

#language:hover{
    cursor: pointer;
    background-color: rgba(180, 180, 180, 0.76);

}


#acco{
   
    width: 70%;
    margin: 0 auto;

   

}
#accpropic{
    background-image: url(./acco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
#accpropic:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s  ease-in-out;
}
#myawards{
    text-align: center;
    display: block;
    
}
#awards{
    font-size: 5rem;
    
    
    margin: 0 auto;

}
#slideshow{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    
}


#accowords{
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}
#accowords ul li{
    margin-bottom: 100px;
    background-color: blanchedalmond;
    
    width: auto;
    padding:50px;
    text-align: center;
    border: rgb(9, 13, 20);
    border-style: solid;
}
#accowords ul li:hover{
    transform:  translateY(-10px);
    cursor: pointer;
    
    
}

#profile{
    width: 90%;
    height: auto;
    border-radius: 50%;
    
    
    margin: 0 auto;
    
}
#propicwork{
    background-image: url("./profile\ .png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    
}
#propiceducation{
    background-image: url("./profile.blue.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    
}
#propicvolunteer{
    background-image: url("./red.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    
}
#propiceca{
    background-image: url("purple.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    
}
.aboutwords{
    
    padding :0 6rem;
    
    height: calc(auto + 200px);
   
}

.afterillustration{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    height: auto;
    
    
}



#slideshowimgcontainer{
    height: 150%;
    width: 90%;
    margin: 0 auto;
    background-image: url(./favmovie/lucifier.jpg);
   
    
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}



#controlbutt{
    position: relative;
    height: 20px;
    width: 100%;
    
    top:50%;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   z-index: 100;

}
.butt {
    height: 80px;
    width: 80px;
    background-color: rgba(214, 214, 214, 0.575);
    opacity: 0.3;
    border-radius: 50%;
    text-align: center;
   

    
}
.butt:hover{
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease-in-out ;

}


.actualpic{
    background-color: hotpink;
    height: 30%;
    width: 30%;
    position: absolute;
    
}

#pic1{
    width: 100%;
    height: 100%;
    background-color: rgb(131, 199, 171);
    
}
#project{
    background-color: blue;
    height: auto;
}
#projectlogo{
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
}
#projectwords{
    width: 80%;
    margin: 0 auto;
    display:grid;
height:auto;
text-align: center;

grid-template-columns: repeat(auto-fill, minmax(300px,1fr));



grid-column-gap: 10%;
grid-row-gap: 50px;

justify-content: center;
}
#projectwords  {
    position: relative;
}
#projectwords li:hover{
    cursor: pointer;
}
.portfolio{
    width: 100%;
    height:250px;
    background-color: burlywood;
    margin: 0  auto;
}
.portpic{
    max-width: auto;
    height: 100%;
    display: block;
    margin:0 auto;
}
.portfolio{
    position: relative;
}
.portfolio span{
   
}
.maskcontainer{
    position: absolute;
    top: 0;
    background-color: rgb(61, 61, 61);
    opacity: 0.7;
    height:inherit;
    width:100%;
    display: none;
    text-align: center;
    font-size: 3rem;
    display: none;
    justify-content: center;
    align-items: center;

}
.p{
    height: auto;
    width: auto;
    opacity:unset;
    color: white;
    
}
footer{
    height: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 100vw;
    color: rgb(255, 248, 228);
    display: block;
    margin: 0 auto;

}
#contact{
    margin: 0 auto;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
   

   
}
#contact ul li {
    text-align: center;
}
#contact ul li:hover {
    text-align: center;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
.copyright{
    text-align: center;
    color: rgba(34, 34, 34, 0.57);
}
#connectwithme{
    font-weight: bold;
    font-size: 3rem;
}
#human{

    text-align: center;
    font-size: 2rem;
}
#fun{
    
    text-align: center;
    font-size: 2rem;

}











@media only screen and (max-width:800px) {
    *{
        font-size: 1rem;
    }
    #aboutme{
        font-size: 3rem;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10%;
    }

    .classcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-auto-rows: 0.5fr;
        grid-row-gap: 25px;
        grid-column-gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        
    }
    .classcontainer p{
        width: auto;
        height:auto;
        border-radius: 0;
    }
    h3{
        position: sticky;
        top:0;
        left: 0;
        font-size: 1.5rem;
        text-align: center;
    }
    body{
       
    }
    .headercontainer{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
    }
    #logo{
        width: 100%;
    }
    .logocontainer{
        width: 100%;
    }
    #awards{
        font-size: 4rem;
        
        
        margin: 0 auto;
    
    }
    #about {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        margin: 0 auto;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
        position: relative;
    }
    .aboutwords{
        padding: 3rem;
        height: auto;
        text-align: left;
        width: 100%;
    }
    #listcontainer ul li {
        font-size: 0.9rem;
    }
    .maincanvas{
        width: 100%;
       
    }
    .aboutwords{
        
        margin: 0;
       
        color: rgb(241, 241, 241);
        
    }
    #description{
        padding: 0;
    }
  }
/*modal*/
#firstpicexplan{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    top:0
}


  @media only screen and (max-width: 800px) {
    hr { 
        display: block;
        
        
        
        border-style: inset;
        border-width: 3px;
        
        margin-bottom: 10px;
    }
    .maincanvas{
        width: 100%;
       
    }
    .mobile{
        display:none
    }
    h3{
        font-size: 2.1rem;
    }
    .font-weight-bold{
        font-weight: bold;
        font-size: 2rem;
        color: black;
    }
    .lead{
        font-weight: bold;
        font-size: 1rem;
        color: rgb(228, 228, 228);
    }
    
    
    
    
    
    #accpropic{
        background-image: url(./acco.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
    #slideshow{
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        
    }
    #slideshowimgcontainer{}
    h3{
        text-align: left;
    }

    #description{
        width: 90%;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    
  }
  @media only screen and (max-width: 800px) {
    
    .propic{
    display: none;
        
        
        
    }

    #modalbackgrond{
        overflow: hidden;
        height: 1000%;
        width: 100%;
        background-color: rgb(75, 75, 75);
        position: absolute;
        top:0;
        opacity: 0.6;
        display:none;
        position: fixed;
        
    }
    .modalcontainer{
        background-color: rgb(255, 248, 228);
        position: fixed;
       
        top:0;
        left:0;
        height: 100%;
        width:100%;
        overflow-y: scroll;
        display: none;
        opacity: 0.5;
    }
    .active{
        display: block;
    }
    .smaller{
        transform: scale(0.9);
        transition: transform , 0.5s ease-in-out;
        transition: opacity , 0.5s ease-in-out;
        opacity: 1;
    
    }
    .smallerer{
        transform: scale(0.9);
        transition: transform , 0.5s ease-in-out;
        transition: opacity , 0.5s ease-in-out;
        opacity: 1;

    }
    .changeopacity{
        opacity: 1;
        transition: opacity, 1s , ease-in-out;
    }
    .modalcontent{
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 40% auto;
    
    }
    .modalexplanation{
        text-align: left;
        padding: 1rem;
    }
    .modalheader{
        font-size: larger;
    }
    .modaltextcontent{
        font-size: smaller;
    
    }
    .imgcontainermodal{
        width: 99%;
        height: auto;
        margin: 0 auto;
        position: relative;
        
    }
    .closebuttmodal{
        position: fixed;
        top:0;
        right: 0;
        width: 80px;
        height:80px;
        background-image: url(./delete.png);
    }
    #moviedescriptor{
        display: block;
    margin: 0 auto;
    }
    #contact{
        margin: 0 auto;
        width: 100%;
        height :70%;
        display: grid;
        grid-template-columns: 100px 100px 100px ;
        justify-content: center;
       
    
       
    }
     #contact ul li img{
    width:80px
    
       
    }
    .maincanvas{
        width: 100%;
       
    }
    
    
  }


  @media only screen and (max-width: 330px) {
    
    *{
        font-size: 0.95rem;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        max-width: 100%;
    }
    .maincanvas{
        width: 100%;
        
    }
    
       
   
    
  }




